<div class="message_area container">
  <div class="row w-100 bg-light ">
    <%= form_with model: message, url: customer_messages_path, html: {class: "form"} do |f| %>
    <div class="form-input p-3">
      <%= f.text_field :content, class: 'form-messag', placeholder: 'メッセージを入力してください' %>
      <label class="form_image">
        <span class="image-file">画像</span>
        <%= f.file_field :image, class: 'hidden' %>
      </label>
      <%= f.submit '送信', class: 'btn btn-info from-submit' %>
      <% end %>
    </div>
  </div>
</div>