<div class="container">
  <h3  class="text-dark content-title p-4 mb-0 my-3">チャットルーム</h3>
  <%= render 'customer/messages/index', messages: @messages, sale: @sale %>
  <div class="row">
    <%= render 'customer/messages/form', message: @message %>
  </div>
  <span id="down">
    <a href="">
      <%= image_tag asset_path('arrow-down.png'), data: {"turbolinks"=>false}, class: "arrow-down" %>
    </a>
  </span>
</div>