<div class="container">
  <div class="row no-gutters">
    <div class="col-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark content-title p-4 mb-0">顧客詳細編ページ</h5>
      <div class="form-body p-4">
        <%= form_with model: @customer, url: sale_customer_path(@customer.id), local:true do |f| %>
        <%= f.text_area :customer_detail, size: "20x30", class:"form-control" %>
        <hr>
        <%= f.submit '更新', class:"btn btn-lg btn-block btn-success mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>