<div class="container">
  <h3 class="text-dark content-title p-4 mb-0 my-3">チャットルーム</h3>
  <%= render 'sale/messages/index',messages: @messages, customer: @customer %>
  <div class="row">
    <%= render 'sale/messages/form', message: @message %>
  </div>
  <span id="down">
    <a href="">
      <%= image_tag asset_path('arrow-down.png'), data: {"turbolinks"=>false}, class: "arrow-down" %>
    </a>
  </span>
</div>