<div class="container">
  <div class="row no-gutters">
    <div class="col-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">顧客詳細</h5>
      <div class="customer-detail-body p-4">
        <p><%= @customer.customer_detail %></p>
      </div>
      <%= link_to "編集する", edit_sale_customer_path(@customer), class:"btn btn-lg btn-block btn-primary" %>
    </div>
  </div>
</div>
