/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 @import"bootstrap";
 @import'font-awesome-sprockets';
 @import'font-awesome';

html {
  height: 100%;
  body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  section.section {
    flex: 1;
    }
  }
}


input[type="text"] {
  width: 300px;
  height: 40px;
}
input[type="email"] {
  width: 300px;
  height: 40px;
}
input[type="password"] {
  width: 300px;
  height: 40px;
}
.navbar, .footer,.content-title  {
  background-color: #67b5b7;
}
body {
  background-color: #eaf6fd;
}

.float {
  display: inline-block;
	transition: all .3s ease 0s;
	text-decoration: none;
}
.float :hover {
  cursor: pointer;
	transform: scale(1.2);
}
.notifications {
  color: white;
  text-align: center;

  .notice {
    background-color: #92cb97;
  }

  .alert {
    background-color: #cc0000;
  }
}

.footer {

}

.sized {
  width: 30%;
  height: 30%;
}