<footer class="footer w-100 mx-auto pt-3 pb-1 shadow-sm">
  <div class="container text-center">
    <p class="text-secondary small">Copyrights © Sales Message All Rights Reserved.</p>
  </div>
</footer>